<html>
    <head>
        <link rel="stylesheet" href="/index.css">
        <meta charset="utf-8">
    </head>
    <body>
        <div class="achieve">
            <div class="achieve__wrapper">
                <div class="achieve__text">
                    <div class="achieve__heading-text{{extraHtmlClass}}">
                        {{name}}
                    </div>
                    <div class="achieve__main-text">
                        <div class="achieve__artistic">
                            {{quote}}
                        </div>
                        <div class="achieve__description">
                            {{description}}
                        </div>
                    </div>
                </div>
                <div class="achieve__image"></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </body>
</html>